a {
  color: #1772d0;
  text-decoration: none;
}

.aspect-ratio-img {
  height: 170px; /* Example height, adjust as needed */
  width: 220px; /* This ensures the width adjusts to maintain the aspect ratio */
}

.news-section {
  background: none;
}

.justified {
  text-align: justify;
  /* Optional: To handle the last line alignment in justified text */
  text-align-last: left; /* You can also use 'center', 'right', or 'justify' */
  /* Adding some padding or margin for better readability, if necessary */
  padding: 0 15px;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px; /* Increased from 14px */
}

strong {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px; /* Increased from 14px */
}

heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px; /* Increased from 22px */
  font-weight: bold;
}

papertitle {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px; /* Increased from 14px and made consistent with body text */
  font-weight: 700;
}

name {
  font-family: 'Times New Roman', Times, serif;
  font-size: 34px; /* Increased from 32px */
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}
